<template>
  <div>
    <b-container>
      <h3>Administrar Proyectos</h3>

      <b-tabs content-class="mt-3" align="center">
        <b-tab title="Proyecto" active><ListarProyectos></ListarProyectos></b-tab>
        <b-tab title="Crear"><CrearProyecto></CrearProyecto></b-tab>
        <b-tab title="Importar" disabled><p>Importar</p></b-tab>
      </b-tabs>

    </b-container>




  </div>
</template>



<script>

import ListarProyectos from '@/components/ListarProyectos.vue'
import CrearProyecto from '@/components/CrearProyecto.vue'

export default {
  name : 'AdministrarProyectos',
  components : {
    ListarProyectos,
    CrearProyecto
  }
}
</script>