<template>
  <div>
    <b-form @submit.prevent="crearSite()">

        <b-form-group id="input-group-1" label="Proyecto:" label-for="input-1" label-cols-sm="4" label-cols-lg="3"> 
            <b-form-input
            id="input-1"
            v-model="site.site_id"
            type="text"
            required
            placeholder="nombre proyecto"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Titulo:" label-for="input-2" label-cols-sm="4" label-cols-lg="3">
            <b-form-input
            id="input-2"
            v-model="site.site_titulo"
            type="text"
            required
            placeholder="titulo"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="User:" label-for="input-3" label-cols-sm="4" label-cols-lg="3">
            <b-form-input
            id="input-3"
            v-model="site.user_id"
            type="text"
            required
            placeholder="user"
            ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-4" label="Password:" label-for="input-4" label-cols-sm="4" label-cols-lg="3">
            <b-form-input
            id="input-4"
            v-model="site.password"
            type="text"
            required
            placeholder="password"
            ></b-form-input>
        </b-form-group>

        <b-form-group
            id="input-group-5"
            label="Email:"
            label-for="input-5"
            description="Ingrese un email valido"
            label-cols-sm="4" label-cols-lg="3"
        >
            <b-form-input
            id="input-5"
            v-model="site.email"
            type="email"
            required
            placeholder="Email"
            ></b-form-input>
            
        </b-form-group>

      <b-button type="submit" variant="primary">Submit</b-button>
    </b-form>
    <b-card class="mt-3" header="Form Data Result">
      <pre class="m-0">{{ site }}</pre>
    </b-card>
  </div>
</template>

<script>
  import axios from "axios"
  import router from '@/router'
  import {mapActions,mapState} from 'vuex'

  export default {
    name: 'CrearProyecto',
    computed: {
        ...mapState(['site'])
    },
    methods: {
        ...mapActions(['crearSite'])
    },

  }
</script>