<template>
<div>
    <b-button @click="consultarSites" pill variant="outline-primary">actualizar lista</b-button>
    <b-list-group >
        

    <b-list-group-item v-for="site in sites" :key="site.id" class="d-flex justify-content-between align-items-center">
        {{site.siteId}} 
        {{site.userId}}
        <div>
            <b-button pill variant="outline-primary">Seleccionar</b-button>
            <b-button @click="abrir_wp_admin(site.siteId)" pill variant="outline-primary" >Abrir en wordpress</b-button>
            <b-button @click="borrar_site(site.siteId,site.userId)" pill variant="outline-danger" >Eliminar</b-button>
        </div>

    </b-list-group-item>


    </b-list-group>
</div>

    
</template>

<script>
import {mapActions,mapState,mapMutations} from 'vuex'

export default {
    name: 'ListarProyectos',
    computed: {
        ...mapState(['sites','user'])
    },
    methods: {
        ...mapActions(['consultarSites','abrir_wp_admin','borrar_site']),
        ...mapMutations(['getUrlAdmin'])
    },
    created(){
        this.consultarSites()
    }
}
</script>